<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Db2_Production"
         connectionString="DataSource=xxx;Password=yyy;UserID=zzz;DefaultCollection=xyz;"
         providerName="IBM.Data.DB2.iSeries" />
    <add name="Oracle_Production"
         connectionString="Data Source=xxx;User ID=yyy;Password=zzz;"
         providerName="System.Data.OracleClient" />
  </connectionStrings>
</configuration>